{% extends "base.html" %}

{% block content %}
<h1>{{object_list.count}} Records</h1>
    <table>
        <tr>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Email</th>
            <th>Address</th>
        </tr>

    {% for contact in object_list	%}
         <tr>
             <td><a href="{% url 'contact-details' contact.pk %}">{{contact.last_name}}</a></td>
             <td>{{contact.first_name}}</td>
             <td>{{contact.email}}</td>
             <td>{{contact.address}}</td>
         </tr>
    {% endfor %}
    </table>
{% endblock %}
